@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xwuxkd');
	src:url('fonts/icomoon.eot?#iefixxwuxkd') format('embedded-opentype'),
		url('fonts/icomoon.ttf?xwuxkd') format('truetype'),
		url('fonts/icomoon.woff?xwuxkd') format('woff'),
		url('fonts/icomoon.svg?xwuxkd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
	content: "\ea8d";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-github:before {
	content: "\eab1";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-lastfm2:before {
	content: "\eacb";
}
