@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-family: "Apercu Regular", Calibri, sans-serif;
    font-size-adjust: 0.508;
}
ul {
    list-style: none;
    margin: 0;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
a {
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    color: #727272;
}
a:hover {
    color: #253334 !important;
    border-bottom: 1px dotted #eb7425;
    text-decoration: none;
}

/* Top canvas */

.canvas {
    border-top: 10px solid #212121;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    background-color: #f2f4f1;
    font-size: 16pt;
}
.canvas-container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 50%;
    max-width: 520px;
}
.bold {
    font-weight: 700;
}
.normal {
    font-weight: 400;
}
.light {
    font-weight: 200;
}
.about p {
    padding-bottom: 50px;
}
.footer, .footer a {
    color: black;
    font-size: 12pt;
    text-align: right;
}

/* Selections */

::selection {
    color: #FF5722;
}

/* CV */

.cv > h1 {
    font-size: 40pt;
    text-align: center;
    color: #212121;
    padding: 30px;
    font-weight: normal;
}
.cv {
    color: #212121;
    padding-bottom: 100px;
}
.cv-group {
    margin: 0 auto;
    max-width: 700px;
}
.cv-item {
    position: relative;
    max-width: 700px;
    border-bottom: 1px solid #B6B6B6;
    margin: 0 auto 30px;
    padding: 0 0 20px;
}
.cv-item header {
    min-height: 60px;
    padding-left: 95px;
    text-align: center;
}
.cv-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
}
.cv-item h1 {
    font-family: "Apercu Bold", Calibri, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #212121;
    display: inline;
}
.cv-item .description {
    display: block;
    color: #727272;
    padding-left: 10px;
    font-size: 10px;
}
.cv-item .duration {
    display: block;
    font-size: 12px;
    color: #727272;
}
.cv-item .content {
    font-size: 14px;
    color: #727272;
    line-height: 17px;
    padding-top: 10px;
}
.cv-item .recommendation-item {
    position: relative;
    line-height: 26px;
}
.cv-item .recommendation-item::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid #727272;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 12px;
}
@media screen and (min-width: 500px) {
    .cv-item {
        padding-right: 0;
    }
    .cv-item header {
        text-align: left;
        padding-left: 80px;
        min-height: 0;
    }
    .cv-item .description {
        display: inline-block;
    }
    .cv-item .duration {
        float: right;
    }
    .cv-item .content {
        padding-left: 80px;
    }
}
.list-description {
    font-family: "Apercu Bold", Calibri, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #B6B6B6;
}
.link-list {
    padding: 0;
}
.link-item {
    display: inline;
}
.cv-group > h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    border-bottom: 4px solid;
    font-variant: small-caps;
}
