@font-face {
    font-family: "Computer Modern";
    src: url('fonts/cm-unicode-0.6.3a/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/cm-unicode-0.6.3a/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/cm-unicode-0.6.3a/cmunsi.otf');
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/cm-unicode-0.6.3a/cmunbxo.otf');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Computer Modern", sans-serif;
}

dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dt {
    font-weight: bold
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.clearfloat {
    clear: both;
}

.box-header {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}