<center>
    <h1>EGILL SVEINBJÖRNSSON</h1>
    
    <p>(354) &#9642; 616 &#9642; 8622 &#9671; <a href="mailto:egilsster@gmail.com">egilsster@gmail.com</a></p>
    <p>SSID: 061291 &#9642; 3189</p>
    <p>Fljótasel 4 &#9671; 109 Reykjavík, Iceland</p>
</center>

<h3 class="box-header">Education</h3>

<div ng-repeat="item in education">
    <p class="alignleft"><b>{{ item.school }}</b></p>
    <p class="alignright"><i>{{ item.date }}</i></p>

    <div class="clearfloat"></div>

    <p>{{ item.degree }}</p>

    <hr ng-if="!$last">
</div>

<h3 class="box-header">Experience</h3>

<div ng-repeat="item in experience">
    <p class="alignleft"><b>{{ item.company }}</b></p>
    <p class="alignright"><i>{{ item.date }}</i></p>

    <div class="clearfloat"></div>

    <p class="alignleft"><i>{{ item.position }}</i></p>
    <p class="alignright"><i>{{ item.location }}</i></p>

    <div class="clearfloat"></div>

    <p>{{ item.description }}</p>

    <div ng-if="item.recommendations.length != 0">
        <p><b>Recommendations:</b></p>
        <p class="recommendation-item" ng-repeat="recommendation in item.recommendations">{{ recommendation }}</p>
    </div>

    <hr ng-if="!$last">
</div>

<h3 class="box-header">Projects</h3>

<div ng-repeat="item in projects">    
    <p class="alignleft"><b>{{ item.workplace }}</b></p>
    <p class="alignright"><i>{{ item.date }}</i></p>

    <div class="clearfloat"></div>
    
    <p class="alignleft"><i><a href="{{ item.url }}">{{ item.name }}</a></i></p>
    <p class="alignright"><i>{{ item.location }}</i></p>

    <div class="clearfloat"></div>

    <p>{{ item.description }}</p>

    <hr ng-if="!$last">
</div>

<h3 class="box-header">Technical</h3>

<dl class="inline">    
    <div ng-repeat="(type, list) in technical">
        <dt>{{ type }}:</dt>
        <dd>{{ list }}</dd>
        <br>
    </div>
</dl>