<center>
    <h1>EGILL SVEINBJÖRNSSON</h1>
    
    <p>(354) - 616 - 8622 ----- egilsster@gmail.com</p>
    <p>SSID: 061291 - 3189</p>
    <p>Fljótasel 4 - 109 Reykjavík, Iceland</p>
</center>

<h3>Education</h3>
<hr>
<div ng-repeat="item in education">
    {{ item.school }}
    {{ item.degree }}
    {{ item.date }}
</div>

<h3>Experience</h3>
<hr>

<div ng-repeat="item in experience">
    <p class="alignleft"><b>{{ item.company }}</b></p>
    <p class="alignright">{{ item.date }}</p>

    <p><i>{{ item.position }}</i></p>
    <p>{{ item.location }}</p>

    <p>{{ item.description }}</p>
    <p>{{ item.recommendations }}</p>
</div>

<h3>Projects</h3>
<hr>

<div ng-repeat="item in projects">
    <div class="clearfloat">
        <b>{{ item.workplace }}</b>
        <i>{{ item.name }}</i>
    </div>
    
    <p class="alignright">{{ item.date }}</p>
    {{ item. location }}
    {{ item.description }}
</div>

<h3>Technical</h3>
<hr>

<dl>    
<div ng-repeat="(type, list) in technical">
        <dt><b>{{ type }}:</b></dt>
        <dd>{{ list }}</dd>
        <br>
</dl>

</div>

